@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adding a global style to ensure the height and background are forced */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* This is slate-900 */
  color: white;
}